.menu{
    background-color: #222222;
    max-height: 40px;
}
.menu button{
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 70px;
    background-color: #222222;
    padding: 0px;
    color:white;
    border-radius: 5px 5px 0px 0px;
    font-size: 70%;
    font-weight: bold;
    border: 0px;
}
::ng-deep .mat-mdc-menu-content {
    padding: 0px !important;
}
div{
    padding: 0px;
    background-color: #404040;
}
button{
    background-color: #404040;
    color: white;
    
}
button:hover{
  //  border-bottom: 4px solid #FFAF74;
    box-shadow: inset 0 -4px 0 0 #FFAF74;
    background-color: #404040;
}

.active{
    //  border-bottom: 4px solid #FFAF74;
      box-shadow: inset 0 -4px 0 0 #FFAF74;
      background-color: #404040;
}