<div id="container">
    <div class="card">
        <p><span>HOVER ME 1</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
        <p><span>HOVER ME 2</span></p>
    </div>
</div>